{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    {% block subheader %}
        {% block movie_subheader %}{% endblock %}
    {% endblock %}

    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading">

                <b>{{m.title}}</b>
            </div>
            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
            </div>

            <div class="panel-body">
                <p style="font-weight: bold;">More info</p>
                {% set my_link = links | selectattr('movie_id', '==', m.id) | first %}
                    {% if my_link %}
                        <p>
                        MovieLens: <a href="https://movielens.org/movies/{{my_link.movie_id}}">https://movielens.org/movies/{{my_link.movie_id}}</a> 
                        </p>
                        <p>
                            IMDb:<a href="https://www.imdb.com/title/tt0{{my_link.imdbld}}/">https://www.imdb.com/title/tt0{{my_link.imdbld}}/</a> 
                        </p>
                        <p>
                            TMBD: <a href="https://www.themoviedb.org/movie/{{my_link.tmdbld}}">https://www.themoviedb.org/movie/{{my_link.tmdbld}}</a>
                        </p>
                    {% endif %}
            </div>
            
            <div class="panel-body">
                <p> User tags:
                    {% for t in tags %}
                        {% if m.id == t.movie_id %}
                            <span class="label label-info">#{{ t.tag }}</span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
              <div class="panel-footer movie-rating">Rate:
                  <a href="#" class="card-link" data-movieid="m.id">1</a>
                  <a href="#" class="card-link" data-movieid="m.id">2</a>
                  <a href="#" class="card-link" data-movieid="m.id">3</a>
                  <a href="#" class="card-link" data-movieid="m.id">4</a>
                  <a href="#" class="card-link" data-movieid="m.id">5</a> Stars
              </div>
        </div>
    {% endfor %}
</div>

<script>
    // Function to handle the click event on any rating link
    function rateMovie(event) {
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var rating = this.textContent;
        var elem = this;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/rate', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('movieid=' + movieid + '&rating=' + rating);
    }

    // Attach the event listener to each rating link
    var links = document.querySelectorAll('.movie-rating .card-link');
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', rateMovie);
    }
</script>

{% endblock %}
